body{
    background-image: url(images/logo\ champa.jpeg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.contenedor3{
    width: 100%;

}
.general-4 {
    width: 80%;
    height: 40%;
    background: #aaa;
    position: relative;
    left: 80px;
}