body{
    background: aquamarine;

}
.general-1{
    background: #aaa;
    width: 30%;
    height: 600px;
    position: relative;
    left: 50px;
}
.quienes{
    width: 60%;
    

}
.contenedor{
    width: 80%;
    height: 700px;
    position: relative;
    margin: -550px 570px 350px;
    margin-left: 40%;

}